.about {
  background: url("./back.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__header {
  margin-top: 10rem;
  margin: 10rem auto;
  width: 75%;
  background: rgba(248, 248, 248, 0.85);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.about__header-text {
  text-align: left;
  margin-top: 4.5rem;
  margin-left: 5rem;
  width: 55%;
}

.about__title {
  color: #282a36;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 2.7rem;
  font-weight: 400;
  padding: 1rem auto;
}

.about__header-bajada {
  color: #282a36;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.3rem;
  padding: 1.5rem 0.2rem;
  line-height: 1.7rem;
}

.about__redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

.about__redes-link {
  text-decoration: none;
  font-family: "M PLUS Rounded 1c", sans-serif;

  font-size: 1.2rem;
  color: #282a36;
}

.about__redes-icon {
  font-size: 2rem;
  color: #44475a;
}

.about__pic {
  border-radius: 50%;
  height: 300px;
  margin: 2rem 5rem 1rem 0.3rem;
  width: 300px;
  object-fit: cover;
}

.about__bajada {
  background-color: rgba(255, 251, 251, 0.9);
  color: #44475a;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  padding: 2rem 1.5rem;
  margin-bottom: 2rem;
  text-align: justify;
}

.about__bajada-title {
  color: #282a36;
  font-size: 1.8rem;
  font-weight: 700;
  padding-left: 3rem;
  padding-bottom: 1rem;
}

.about__bajada-texto {
  line-height: 1.5;
  font-size: 1.1rem;
  padding: 0.5rem 3rem;
}

@media screen and (max-width: 768px) {
  .about__pic {
    height: 200px;
    width: 200px;
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .about__title {
    font-size: 1.7rem;
  }

  .about__header-bajada {
    width: 100%;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1280px) {
  .about__header {
    width: 100%;
    justify-content: center;
  }
  .about__header-text {
    font-size: 0.9rem;
    width: 40%;
  }
}
