.edu {
  padding: 3rem 3rem;
  background-color: #282a36;
}

.edu__main-title {
  color: #ff79c6;
  /* text-shadow: -1px 0 #f8f8f2, 0 1px #f8f8f2, 1px 0 #f8f8f2, 0 -1px #f8f8f2; */
  font-family: "droid-sans-mono", monospace;
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
}

.edu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.edu__item {
  border: 2px solid #bd93f9;
  padding: 2rem;
  width: 24%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
}

.edu__item:hover {
  transform: scale(1.05, 1.05);
}

.edu__icon {
  width: 18rem;
  height: 12rem;
  margin: 0 auto;
  object-fit: fill;
  padding-bottom: 1rem;
}

.edu__title {
  font-family: "droid-sans-mono", monospace;
  font-size: 1.3rem;
  font-weight: 700;
  color: #50fa7b;
  text-align: center;
  padding-bottom: 0.5rem;
}

.edu__subtitle {
  font-family: "droid-sans-mono", monospace;
  font-size: 1.2rem;
  font-weight: 700;
  color: #ff79c6;
  text-align: center;
  padding-bottom: 0.3rem;
}

.edu__bajada {
  font-family: "droid-sans-mono", monospace;
  font-size: 1rem;
  font-weight: 700;
  color: #8be9fd;
  text-align: center;
}

.edu__bajada2 {
  font-family: "droid-sans-mono", monospace;
  font-size: 0.9rem;
  font-weight: 700;
  color: #f1fa8c;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .edu__main-title {
    font-size: 2rem;
  }
  .edu__list {
    flex-direction: column;
    justify-content: space-around;
  }

  .edu__item {
    width: 90%;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 1280px) {
  .edu__icon {
    width: 10rem;
    height: 6rem;
  }
}
