.skills {
  padding: 2rem 3rem;
  /* background-color: #f7f5e9; */
  /* background: #f8f8f2; */
}
.skills__hard-title,
.skills__soft-title,
.hobbies__main-tittle {
  color: #f1fa8c;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 1rem auto;
}

.skills__hard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 2rem;
}

.skills__item {
  width: 260px;
  height: 175px;
  text-align: left;
  border: 2px solid #bd93f9;
  border-radius: 10px;
  /* padding-top: 4rem;
  padding-left: 1rem; */
  margin-left: 4rem;
  margin-bottom: 1rem;
  transition: 0.3s;
}

/* .skills__item:hover {
  transform: scale(1.15, 1.15);
} */

.skills__icon {
  color: #8be9fd;
  font-size: 2.2rem;
  margin-top: 7rem;
  margin-left: 1rem;
}

.skills__title {
  color: #f1fa8c;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  padding-top: 0.2rem;
  margin-left: 1rem;
}

.skills__soft {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem 2rem;
}

@media screen and (max-width: 768px) {
  .skills {
    padding: 0 0;
  }
  .skills__item {
    width: 125px;
    height: 75px;
    margin-left: 0.5rem;
  }

  .skills__hard {
    justify-content: center;
  }
}
@media screen and (max-width: 1280px) {
  .skills__item {
    width: 175px;
    height: 125px;
  }
  .skills__icon {
    margin-top: 4rem;
  }
}
